<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of recipes</title>
</head>
<body>

    <h3>List of recipes</h3>

    <table>
        <tr>
            <th>Prep time</th>
            <th>Description</th>
        </tr>
        <tr th:each="recipe : ${listOfRecipes}">
            <td th:text="${recipe.prepTime}">name</td>
            <td th:text="${recipe.description}">description</td>
        </tr>
    </table>
</body>
</html>